In [24]:
import json
import pandas as pd
import numpy as np
from emoji import core
import re
import ast
from matplotlib import pyplot as plt

### 1005

In [3]:
playlists = pd.read_json('./0_data/playlists.json', typ = 'frame', encoding='utf-8')

In [4]:
playlists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115071 entries, 0 to 115070
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tags          115071 non-null  object
 1   id            115071 non-null  int64
 2   plylst_title  115071 non-null  object
 3   songs         115071 non-null  object
 4   like_cnt      115071 non-null  int64
 5   updt_date     115071 non-null  object
dtypes: int64(2), object(4)
memory usage: 5.3+ MB

In [5]:
playlists[playlists['id'] == 26975]

,tags,id,plylst_title,songs,like_cnt,updt_date
56070,"[추천, 아이돌, 새벽, 동공지진, 부끄러운, 노래추천, 엄한가사, 그, 있잖아요]",26975,새벽에 ( ͡° ͜ʖ ͡°) 들으면 좋은 노래,"[108003, 386633, 396589, 135825, 334564, 60924...",4,2017-11-12 14:10:56.000

In [6]:
playlists[playlists['id'] == 141624]

,tags,id,plylst_title,songs,like_cnt,updt_date
83618,"[노래, 밤, 감성적인곡, 새벽]",141624,새벽에 들으면 좋은 노래,"[275780, 623604, 591944, 624167, 401055, 18440...",12,2016-08-21 18:23:44.000

In [20]:
playlists[playlists['plylst_title'] == '2008 그랜드민트 페스티벌']

,tags,id,plylst_title,songs,like_cnt,updt_date
50715,[락],2397,2008 그랜드민트 페스티벌,"[101197, 464502, 409059, 24344, 564377, 234096...",8,2008-12-24 13:41:38.000
67207,[락],105395,2008 그랜드민트 페스티벌,"[400406, 502091, 630188, 115353, 454390, 28740...",11,2008-12-26 15:18:49.000
101918,[락],128387,2008 그랜드민트 페스티벌,"[572644, 472798, 309282, 153901, 502091, 53885...",14,2008-10-17 14:21:26.000
109754,[락],30079,2008 그랜드민트 페스티벌,"[4687, 447505, 464502, 409059, 24344, 564377, ...",12,2008-12-23 19:56:46.000

In [ ]:
playlists[playlists['id'] == 2397]

In [5]:
ply_filter = pd.read_json('./0_data/tag1,song1_playlists.json', typ = 'frame', encoding='utf-8')
ply_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51479 entries, 0 to 51478
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          51479 non-null  object
 1   id            51479 non-null  int64
 2   plylst_title  51479 non-null  object
 3   songs         51479 non-null  object
 4   like_cnt      51479 non-null  int64
 5   updt_date     51479 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.4+ MB

In [15]:
ply_filter[ply_filter['id'] == 2397]

Empty DataFrame
Columns: [tags, id, plylst_title, songs, like_cnt, updt_date]
Index: []

In [11]:
ply_filter2 = pd.read_json('./0_data/tag3,song3_playlists.json', typ = 'frame', encoding='utf-8')
ply_filter2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          46758 non-null  object
 1   id            46758 non-null  int64
 2   plylst_title  46758 non-null  object
 3   songs         46758 non-null  object
 4   like_cnt      46758 non-null  int64
 5   updt_date     46758 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.1+ MB

In [ ]:
ply_filter2[ply_filter2['id'] == 552088]

In [12]:
ply_filter2[ply_filter2['id'] == 552088]

Empty DataFrame
Columns: [tags, id, plylst_title, songs, like_cnt, updt_date]
Index: []

In [14]:
ply_filter2[ply_filter2['id'] == 2397]

Empty DataFrame
Columns: [tags, id, plylst_title, songs, like_cnt, updt_date]
Index: []

In [18]:
ply_filter0 = pd.read_json('./0_data/data.json', typ = 'frame', encoding='utf-8')
ply_filter0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57280 entries, 0 to 57279
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          57280 non-null  object
 1   id            57280 non-null  int64
 2   plylst_title  57280 non-null  object
 3   songs         57280 non-null  object
 4   like_cnt      57280 non-null  int64
 5   updt_date     57280 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.6+ MB

In [21]:
ply3 = ply_filter2.explode('songs')['songs']

In [23]:
ply3[ply3 == 552088]

19387    552088
24050    552088
25670    552088
45217    552088
Name: songs, dtype: object

In [20]:
ply_filter2[ply_filter2.explode('songs')['songs'] == 552088]

C:\Users\cg063\AppData\Local\Temp\ipykernel_8968\588902948.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ply_filter2[ply_filter2.explode('songs')['songs'] == 552088]

IndexError: indices are out-of-bounds

In [19]:
ply_filter0[ply_filter0['songs'] == 2397]

,tags,id,plylst_title,songs,like_cnt,updt_date
41841,[락],2397,2008 그랜드민트 페스티벌,"[564377, 574424, 86502, 264929, 464767, 472798...",8,2008-12-24 13:41:38.000

In [7]:
df

NameError: name 'df' is not defined

In [13]:
import pandas as pd
db_song_meta = pd.read_json('./0_data/db_song_meta.json', typ = 'frame', encoding='utf-8')

In [14]:
db_song_meta.head()

,song_id,song_name,artist_name_lst,song_gnr_lst
0,0,Feelings,[Various Artists],[POP]
1,1,"Bach : Partita No. 4 In D Major, BWV 828 - II....",[Murray Perahia],[클래식]
2,2,Solsbury Hill (Remastered 2002),[Peter Gabriel],[POP]
3,3,Feeling Right (Everything Is Nice) (Feat. Popc...,[Matoma],[일렉트로니카]
4,4,그남자 그여자,[Jude Law],[뉴에이지]

In [16]:
db_song_meta[db_song_meta['song_id'] == 0]

   song_id song_name    artist_name_lst song_gnr_lst
0        0  Feelings  [Various Artists]        [POP]

In [4]:
song_meta[song_meta['id'] == 552088]

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
552088,"[GN0105, GN0601]",20101108,None,1065178,[28263],본능적으로 (Feat. Swings),"[GN0600, GN0100]",[강승윤],552088

### 1006

In [25]:
playlists = pd.read_json('./0_data/tag3,song3_playlists.json', typ = 'frame', encoding='utf-8')
db_sm = pd.read_json('./0_data/db_song_meta.json', typ = 'frame', encoding='utf-8')

In [29]:
song_meta = pd.read_json('./0_data/song_meta.json', typ = 'frame', encoding='utf-8')

In [30]:
# 날짜 오류있는 행 확인
song_meta[song_meta['issue_date'] > 20220000] # index : 141185, 448286

indices_to_update = [141185, 448286]
new_value = 20200113 # 알맞는 발매날짜
# 특정 행의 'issue_date' 값을 변경
for idx in indices_to_update:
    song_meta.at[idx, 'issue_date'] = new_value

In [31]:
# 알맞게 변경되었는지 확인
song_meta.iloc[[141185, 448286], :]

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
141185,[GN1801],20200113,고요한 밤바다 구경하기 [여수 바다],10403230,[2737142],잔잔한 바람이 불어와 (There is a gentle breeze),[GN1800],[무드홀릭 (Moodholic)],141185
448286,[GN1801],20200113,고요한 밤바다 구경하기 [여수 바다],10403230,[2737142],여수 바다 (Yeosu sea),[GN1800],[무드홀릭 (Moodholic)],448286

In [32]:
song_meta['song_gn_dtl_gnr_basket_cnt'] = song_meta['song_gn_dtl_gnr_basket'].apply(len)
song_meta[song_meta['song_gn_dtl_gnr_basket_cnt']==0]

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id,song_gn_dtl_gnr_basket_cnt
21,[],20200331,WHY,10410508,[417985],WHY,[],[4minute],21,0
262,[],20150318,노년의 건강을 지켜주는 음악 처방전 (부제 : 휴식 때 들으면 좋은 음악친구),2309524,[726909],Bio Sound `Breathing & Big Bell`,[GN9000],[차병원],262,0
399,[],20200106,뽀로로 겨울 동요,10372098,[1703695],초코 초코 핫초코,[],[아이코닉스 (ICONIX)],399,0
454,[],20191108,MAGDALENE,10349014,[788767],thousand eyes,[GN1100],[FKA Twigs],454,0
803,[],20040901,Tropical Lullaby,153435,[848353],Kalua Lullaby,[],[The Moonlighters],803,0
...,...,...,...,...,...,...,...,...,...,...
706502,[],20110831,엄마와 아가와의 행복한 대화 태교음악 뉴에이지,2009854,[561734],Love Love Love,[GN9000],[해피타임뮤직],706502,0
706716,[],20200109,Have It All,10373946,[2762722],Have It All,[GN9000],[Renegade],706716,0
707201,[],20200115,모두의 MR반주 123,10376105,[770787],Into the Unknown (겨울왕국 2 OST) (Melody MR),[GN9000],[모두의MR],707201,0
707759,[],20200225,낭만닥터 김사부 2 OST,10393897,"[27619, 726783]",Emergency,[],"[전창엽, 마마고릴라]",707759,0
707869,[],20170106,아기와 엄마가 함께 듣는 태교 음악 피아노 자장가 연주곡 베스트,10028977,[927524],도레미송 (Doremi Song),[GN9000],[태교음악 베베],707869,0

In [33]:
# 소분류 장르가 없는 song id 담아두기
song_gnr_empty = list(song_meta[song_meta['song_gn_dtl_gnr_basket_cnt'] == 0]['id'].values) # 4037개
# 장르정보가 GN9000인 song id 담아두기
song_gnr_GN9000 = list(song_meta[song_meta['song_gn_gnr_basket'].apply(lambda x: 'GN9000' in x)]['id'].values) # 1834개

# 삭제될 song id list
to_del_song_id = set(song_gnr_empty + song_gnr_GN9000)
len(to_del_song_id) # 4040개

4040

In [34]:
song_meta = song_meta[song_meta['song_gn_dtl_gnr_basket_cnt'] != 0] # 소분류 장르가 없는 song 4037개 삭제
song_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 703952 entries, 0 to 707988
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   song_gn_dtl_gnr_basket      703952 non-null  object
 1   issue_date                  703952 non-null  int64
 2   album_name                  703948 non-null  object
 3   album_id                    703952 non-null  int64
 4   artist_id_basket            703952 non-null  object
 5   song_name                   703952 non-null  object
 6   song_gn_gnr_basket          703952 non-null  object
 7   artist_name_basket          703952 non-null  object
 8   id                          703952 non-null  int64
 9   song_gn_dtl_gnr_basket_cnt  703952 non-null  int64
dtypes: int64(4), object(6)
memory usage: 59.1+ MB

In [35]:
song_meta = song_meta[~song_meta['song_gn_gnr_basket'].apply(lambda x: 'GN9000' in x)] # GN9000가 있는 행 3개삭제 (GN9000이 대분류 장르인 경우, 대부분 소분류 정보가 없어서 여기서는 3개만 삭제됨)
song_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 703949 entries, 0 to 707988
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   song_gn_dtl_gnr_basket      703949 non-null  object
 1   issue_date                  703949 non-null  int64
 2   album_name                  703945 non-null  object
 3   album_id                    703949 non-null  int64
 4   artist_id_basket            703949 non-null  object
 5   song_name                   703949 non-null  object
 6   song_gn_gnr_basket          703949 non-null  object
 7   artist_name_basket          703949 non-null  object
 8   id                          703949 non-null  int64
 9   song_gn_dtl_gnr_basket_cnt  703949 non-null  int64
dtypes: int64(4), object(6)
memory usage: 59.1+ MB

In [36]:
# 장르 정보가 없는 행이 없는지 확인
song_meta[song_meta['song_gn_dtl_gnr_basket_cnt']==0]

Empty DataFrame
Columns: [song_gn_dtl_gnr_basket, issue_date, album_name, album_id, artist_id_basket, song_name, song_gn_gnr_basket, artist_name_basket, id, song_gn_dtl_gnr_basket_cnt]
Index: []

In [37]:
# GN9000가 삭제되었는지 확인
song_meta[song_meta['song_gn_gnr_basket'].apply(lambda x: 'GN9000' in x)]

Empty DataFrame
Columns: [song_gn_dtl_gnr_basket, issue_date, album_name, album_id, artist_id_basket, song_name, song_gn_gnr_basket, artist_name_basket, id, song_gn_dtl_gnr_basket_cnt]
Index: []

In [38]:
genre_gn_all = pd.read_json('../0_data/genre_gn_all.json', typ = 'frame', encoding='utf-8', orient='index')

# 컬럼명 지정
genre_gn_all = genre_gn_all.reset_index().rename(columns={'index':'gnr_code', 0:'gnr_name'})
genre_gn_all.head()

# 대분류 장르코드들만 뽑기
gnr_code = genre_gn_all[genre_gn_all['gnr_code'].str[-2:]=='00']

# 소분류 장르코드만 뽑기
dtl_gnr_code = genre_gn_all[genre_gn_all['gnr_code'].str[-2:] != '00']
dtl_gnr_code.rename(columns = {'gnr_code' : 'dtl_gnr_code', 'gnr_name' : 'dtl_gnr_name'}, inplace = True)

# 대분류 장르코드와 소분류 장르코드 각각의 앞자리 네자리 공통코드 추출
gnr_code = gnr_code.assign(join_code = gnr_code['gnr_code'].str[0:4])
dtl_gnr_code = dtl_gnr_code.assign(join_code = dtl_gnr_code['dtl_gnr_code'].str[0:4])

# join_code(네자리 공통코드) 기준으로 Merge
gnr_code_tree = pd.merge(gnr_code, dtl_gnr_code, how = 'left', on = 'join_code')

gnr_code_tree[['gnr_code', 'gnr_name', 'dtl_gnr_code', 'dtl_gnr_name']]
gnr_code_tree

gnr_big = pd.DataFrame(gnr_code.iloc[:, :2])

FileNotFoundError: File ../0_data/genre_gn_all.json does not exist