In [2]:
import json
import pandas as pd
import numpy as np
from emoji import core
import re
import ast
from matplotlib import pyplot as plt

In [3]:
playlists = pd.read_json('./0_data/playlists.json', typ = 'frame', encoding='utf-8')

In [4]:
playlists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115071 entries, 0 to 115070
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tags          115071 non-null  object
 1   id            115071 non-null  int64
 2   plylst_title  115071 non-null  object
 3   songs         115071 non-null  object
 4   like_cnt      115071 non-null  int64
 5   updt_date     115071 non-null  object
dtypes: int64(2), object(4)
memory usage: 5.3+ MB

In [5]:
playlists[playlists['id'] == 26975]

,tags,id,plylst_title,songs,like_cnt,updt_date
56070,"[추천, 아이돌, 새벽, 동공지진, 부끄러운, 노래추천, 엄한가사, 그, 있잖아요]",26975,새벽에 ( ͡° ͜ʖ ͡°) 들으면 좋은 노래,"[108003, 386633, 396589, 135825, 334564, 60924...",4,2017-11-12 14:10:56.000

In [6]:
playlists[playlists['id'] == 141624]

,tags,id,plylst_title,songs,like_cnt,updt_date
83618,"[노래, 밤, 감성적인곡, 새벽]",141624,새벽에 들으면 좋은 노래,"[275780, 623604, 591944, 624167, 401055, 18440...",12,2016-08-21 18:23:44.000

In [20]:
playlists[playlists['plylst_title'] == '2008 그랜드민트 페스티벌']

,tags,id,plylst_title,songs,like_cnt,updt_date
50715,[락],2397,2008 그랜드민트 페스티벌,"[101197, 464502, 409059, 24344, 564377, 234096...",8,2008-12-24 13:41:38.000
67207,[락],105395,2008 그랜드민트 페스티벌,"[400406, 502091, 630188, 115353, 454390, 28740...",11,2008-12-26 15:18:49.000
101918,[락],128387,2008 그랜드민트 페스티벌,"[572644, 472798, 309282, 153901, 502091, 53885...",14,2008-10-17 14:21:26.000
109754,[락],30079,2008 그랜드민트 페스티벌,"[4687, 447505, 464502, 409059, 24344, 564377, ...",12,2008-12-23 19:56:46.000

In [ ]:
playlists[playlists['id'] == 2397]

In [5]:
ply_filter = pd.read_json('./0_data/tag1,song1_playlists.json', typ = 'frame', encoding='utf-8')
ply_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51479 entries, 0 to 51478
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          51479 non-null  object
 1   id            51479 non-null  int64
 2   plylst_title  51479 non-null  object
 3   songs         51479 non-null  object
 4   like_cnt      51479 non-null  int64
 5   updt_date     51479 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.4+ MB

In [15]:
ply_filter[ply_filter['id'] == 2397]

Empty DataFrame
Columns: [tags, id, plylst_title, songs, like_cnt, updt_date]
Index: []

In [9]:
ply_filter2 = pd.read_json('./0_data/tag3,song3_playlists.json', typ = 'frame', encoding='utf-8')
ply_filter2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          46758 non-null  object
 1   id            46758 non-null  int64
 2   plylst_title  46758 non-null  object
 3   songs         46758 non-null  object
 4   like_cnt      46758 non-null  int64
 5   updt_date     46758 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.1+ MB

In [14]:
ply_filter2[ply_filter2['id'] == 2397]

Empty DataFrame
Columns: [tags, id, plylst_title, songs, like_cnt, updt_date]
Index: []

In [18]:
ply_filter0 = pd.read_json('./0_data/data.json', typ = 'frame', encoding='utf-8')
ply_filter0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57280 entries, 0 to 57279
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          57280 non-null  object
 1   id            57280 non-null  int64
 2   plylst_title  57280 non-null  object
 3   songs         57280 non-null  object
 4   like_cnt      57280 non-null  int64
 5   updt_date     57280 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.6+ MB

In [19]:
ply_filter0[ply_filter0['id'] == 2397]

,tags,id,plylst_title,songs,like_cnt,updt_date
41841,[락],2397,2008 그랜드민트 페스티벌,"[564377, 574424, 86502, 264929, 464767, 472798...",8,2008-12-24 13:41:38.000

In [7]:
df

NameError: name 'df' is not defined