In [61]:
import os, sys
sys.path.append('..')
from arena_util import remove_seen
import pandas as pd
from tqdm import tqdm

In [99]:

mf = pd.read_json("../arena_data/results/results_mf.json")
w2v = pd.read_json("../arena_data/results/results_word2vec.json")

In [102]:
df = pd.DataFrame(columns = ['id', 'songs', 'tags'])

In [104]:
df['id'] = w2v['id']

In [105]:
df

           id songs tags
0      118598   NaN  NaN
1      131447   NaN  NaN
2       51464   NaN  NaN
3       45144   NaN  NaN
4       79929   NaN  NaN
...       ...   ...  ...
23010  101722   NaN  NaN
23011  122127   NaN  NaN
23012   77438   NaN  NaN
23013   36231   NaN  NaN
23014   65189   NaN  NaN

[23015 rows x 3 columns]

In [106]:
for i in tqdm(range(len(df))):
    w2v_songs = w2v.loc[i]['songs'][:50]
    w2v_tags = w2v.loc[i]['tags'][:5]
    mf_songs = remove_seen(w2v_songs, mf.loc[i]['songs'])[:50]
    mf_tags = remove_seen(w2v_tags, mf.loc[i]['tags'])[:5]
    extra_songs = remove_seen(w2v_songs + mf_songs, w2v.loc[i]['songs'][50:])
    extra_tags = remove_seen(w2v_tags + mf_tags, w2v.loc[i]['tags'][5:])

    songs = (w2v_songs + mf_songs + extra_songs)[:100]
    tags = (w2v_tags + mf_tags + extra_tags)[:10]
    df['songs'].loc[i] = songs
    df['tags'].loc[i] = tags

100%|██████████| 23015/23015 [00:44<00:00, 514.53it/s]

In [107]:
df

,id,songs,tags
0,118598,"[207912, 623047, 703323, 422438, 638488, 32221...","[OST, 디즈니, 애니메이션, 영화, 기분전환, 팝, 겨울, 추억, 휴식, 힐링]"
1,131447,"[144663, 116573, 357367, 366786, 654757, 13314...","[기분전환, 감성, 휴식, 발라드, 잔잔한, 지미맥길, 장르음악, r_lum_r, ..."
2,51464,"[291080, 270647, 29532, 193610, 207722, 572932...","[발라드, 슬픔, 이별, 추억, 회상, 설렘, 사랑, 잔잔한, 싸이월드, 가을]"
3,45144,"[144663, 367963, 351888, 357367, 576186, 19533...","[감성, 발라드, 사랑, 이별, 잔잔한, 기분전환, 카페, 드라이브, 새벽, 휴식]"
4,79929,"[211220, 412769, 70314, 445299, 106129, 526037...","[CCM, 찬양, 은혜, 예배, 교회, 사랑, 국내ccm, 은혜로운, 위로, 찬송가]"
...,...,...,...
23010,101722,"[116573, 473514, 366786, 169984, 42610, 13142,...","[밤, 새벽, 추억, 회상, 이별, 발라드, 기분전환, 감성, 사랑, 휴식]"
23011,122127,"[352228, 48209, 138932, 630552, 473514, 4173, ...","[추억, 회상, 사랑, 힐링, 엄마, 휴식, 기분전환, 감성, 잔잔한, 발라드]"
23012,77438,"[274504, 140867, 679436, 493762, 21125, 360062...","[팝, 팝송, Pop, 기분전환, 드라이브, 휴식, 힐링, 감성, 잔잔한, 새벽]"
23013,36231,"[548041, 50031, 699175, 46497, 236711, 399224,...","[클래식, 힐링, 피아노, 휴식, 조성진, 잔잔한, 팝, 추억, 기분전환, 올드팝]"
23014,65189,"[457124, 250, 25012, 104065, 154929, 586556, 1...","[봄, 벚꽃, 사랑, 봄노래, 설렘, 감성, 기분전환, 드라이브, 발라드, 카페]"

In [109]:
df.to_json("../arena_data/results/results.json", orient='records')