In [1]:
import pandas as pd

In [8]:
# ply_meta 테이블:
#     ply_id int not null primary key,
#     ply_title varchar(500),
#     ply_tag_lst TEXT,
#     ply_like_cnt int,
#     ply_updt varchar(100)

ply_meta = pd.read_json('./db_data/ply_meta.json')
ply_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ply_id        46758 non-null  int64
 1   ply_title     46758 non-null  object
 2   ply_tag_lst   46758 non-null  object
 3   ply_like_cnt  46758 non-null  int64
 4   ply_updt      46758 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.8+ MB

In [9]:
ply_meta.head()

   ply_id         ply_title ply_tag_lst  ply_like_cnt                 ply_updt
0  117162           12월의 재즈   크리스마스, 겨울           353  2016-12-26 12:33:33.000
1  151638  12월의 크리스마스를 yeah         발라드            29  2009-12-22 09:11:45.000
2   27984     1월의 최신 EDM 소식          일렉            84  2015-01-29 16:22:19.000
3   48636    2000년대 힙합을 부탁해       힙합, 랩            54  2015-06-09 17:25:51.000
4   30079   2008 그랜드민트 페스티벌           락            12  2008-12-23 19:56:46.000

In [6]:
# ply_title_embedding 테이블:
# 	  emd_id int not null primary key auto_increment,
# 	  ply_id int not null,
#     ply_title_emd TEXT,
#     FOREIGN KEY(ply_id) REFERENCES ply_meta(ply_id)

emd_df = pd.read_json('./db_data/emd_df.json')
emd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          46758 non-null  object
 1   id            46758 non-null  int64
 2   plylst_title  46758 non-null  object
 3   songs         46758 non-null  object
 4   like_cnt      46758 non-null  int64
 5   updt_date     46758 non-null  object
 6   embedding     46758 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.5+ MB

In [13]:
emd_df = emd_df[['id', 'embedding']]
ply_title_embedding = emd_df.rename(columns={'id':'ply_id', 'embedding':'ply_title_emd'})
ply_title_embedding.head()

   ply_id                                      ply_title_emd
0  117162  [-0.6645728946, -0.7428655624, 0.9763435721, -...
1  151638  [-0.0026101221, 0.1385624856, 1.9987051487, 0....
2   27984  [-0.4456211329, 0.0304336753, 1.2807025909, -0...
3   30079  [-0.1292974651, 0.07028008250000001, 1.0626025...
4   52572  [-0.21672616900000002, -0.0234135706, 1.083109...

In [14]:
ply_title_embedding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ply_id         46758 non-null  int64
 1   ply_title_emd  46758 non-null  object
dtypes: int64(1), object(1)
memory usage: 730.7+ KB

In [19]:
# ply_title_embedding와 ply_meta id 비교
print(list(ply_meta['ply_id']).sort() == list(ply_title_embedding['ply_id']).sort())
print(len(ply_meta) == len(ply_title_embedding))

True
True

In [20]:
# song_meta 테이블:
# 	  song_id int not null primary key,
#     song_name varchar(500),
#     artist_name_lst text,
#     song_gnr_lst text

song_meta = pd.read_json('../00_data/db_song_meta_1006.json')

In [21]:
song_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703949 entries, 0 to 703948
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   song_id          703949 non-null  int64
 1   song_name        703949 non-null  object
 2   artist_name_lst  703949 non-null  object
 3   song_gnr_lst     703949 non-null  object
dtypes: int64(1), object(3)
memory usage: 21.5+ MB

In [22]:
song_meta.head()

,song_id,song_name,artist_name_lst,song_gnr_lst
0,0,Feelings,[Various Artists],[POP]
1,1,"Bach : Partita No. 4 In D Major, BWV 828 - II....",[Murray Perahia],[클래식]
2,2,Solsbury Hill (Remastered 2002),[Peter Gabriel],[POP]
3,3,Feeling Right (Everything Is Nice) (Feat. Popc...,[Matoma],[일렉트로니카]
4,4,그남자 그여자,[Jude Law],[뉴에이지]

In [ ]:
# create table song_in_ply 테이블:
# 	  songinply_id int not null primary key auto_increment,
# 	  ply_id int,
#     song_id int,
#     FOREIGN KEY(ply_id) REFERENCES ply_meta(ply_id),
#     FOREIGN KEY(song_id) REFERENCES song_meta(song_id)

In [24]:
playlists_cnt3 = pd.read_json('../00_data/tag3,song3_playlists.json')
playlists_cnt3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          46758 non-null  object
 1   id            46758 non-null  int64
 2   plylst_title  46758 non-null  object
 3   songs         46758 non-null  object
 4   like_cnt      46758 non-null  int64
 5   updt_date     46758 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.1+ MB

In [26]:
sip = playlists_cnt3.explode('songs')[['id', 'songs']]
sip

           id   songs
0      117162  677632
0      117162  309377
0      117162  473793
0      117162  179652
0      117162  407630
...       ...     ...
46757  106976  321330
46757  106976  240306
46757  106976  216057
46757  106976  331098
46757  106976  179583

[1401859 rows x 2 columns]

In [36]:
# sip playlists_cnt3 id 비교
print(list(sip['id']).sort() == list(playlists_cnt3['id']).sort())

True

In [44]:
sip_unique_sort = list(set(sip['id']))
sip_unique_sort.sort()

playlists_cnt3_unique_sort = list(set(playlists_cnt3['id']))
playlists_cnt3_unique_sort.sort()

sip_unique_sort == playlists_cnt3_unique_sort

True

In [50]:
song_in_ply = sip.rename(columns={'id':'ply_id', 'songs':'song_id'})
song_in_ply.reset_index(drop=True, inplace=True)

In [51]:
song_in_ply.head()

   ply_id song_id
0  117162  677632
1  117162  309377
2  117162  473793
3  117162  179652
4  117162  407630

In [55]:
# song_meta 와 비교
song_in_ply_unique_sort = list(set(song_in_ply['song_id']))
song_in_ply_unique_sort.sort()

song_meta_unique_sort = list(set(song_meta['song_id']))
song_meta_unique_sort.sort()

song_in_ply_unique_sort == song_meta_unique_sort

False

In [56]:
song_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703949 entries, 0 to 703948
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   song_id          703949 non-null  int64
 1   song_name        703949 non-null  object
 2   artist_name_lst  703949 non-null  object
 3   song_gnr_lst     703949 non-null  object
dtypes: int64(1), object(3)
memory usage: 21.5+ MB

In [58]:
song_in_ply['song_id'].nunique()

88178

In [77]:
# song_meta: song_in_ply에 있는 song_id만 남기기
u_song_id = set(song_in_ply['song_id'])
u_song_id = list(u_song_id)
len(u_song_id)

88178

In [67]:
song_meta.head()

,song_id,song_name,artist_name_lst,song_gnr_lst
0,0,Feelings,[Various Artists],[POP]
1,1,"Bach : Partita No. 4 In D Major, BWV 828 - II....",[Murray Perahia],[클래식]
2,2,Solsbury Hill (Remastered 2002),[Peter Gabriel],[POP]
3,3,Feeling Right (Everything Is Nice) (Feat. Popc...,[Matoma],[일렉트로니카]
4,4,그남자 그여자,[Jude Law],[뉴에이지]

In [81]:
# merge
u_song_id_df = pd.DataFrame(u_song_id, columns=['song_id'])
u_song_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88178 entries, 0 to 88177
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   song_id  88178 non-null  int64
dtypes: int64(1)
memory usage: 689.0 KB

In [84]:
last_song_meta = pd.merge(song_meta, u_song_id_df)

In [85]:
last_song_meta['song_id']

,song_id,song_name,artist_name_lst,song_gnr_lst
0,3,Feeling Right (Everything Is Nice) (Feat. Popc...,[Matoma],[일렉트로니카]
1,10,Hi (Heyoo),[Miraa.],[랩/힙합]
2,17,Girl Crush,[마마무 (Mamamoo)],"[아이돌, 댄스]"
3,19,무얼 기다리나 (Feat. 조원선),[이영훈],"[인디음악, 포크/블루스]"
4,28,Paris Sera Toujours Paris,[Zaz],[POP]
...,...,...,...,...
88173,707934,Falling,[HAIM],"[POP, 록/메탈]"
88174,707949,나는 남자다,[김희재],[성인가요]
88175,707965,Swim Good,[Frank Ocean],[R&B/Soul]
88176,707969,I Decide (Piano Remix),[헤리티지(Heritage)],[R&B/Soul]
88177,707986,스치듯 안녕,[윤종신],[발라드]

In [86]:
# 비교
lsm_u = list(set(last_song_meta['song_id']))
lsm_u.sort()

sip_u = list(set(song_in_ply['song_id']))
sip_u.sort()

lsm_u == sip_u

True

In [92]:
# 저장
ply_meta.to_json('./last_db_data/ply_meta.json')
ply_title_embedding.to_json('./last_db_data/ply_title_embedding.json')
last_song_meta.to_json('./last_db_data/last_song_meta.json')
song_in_ply.to_json('./last_db_data/song_in_ply.json')

In [87]:
ply_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ply_id        46758 non-null  int64
 1   ply_title     46758 non-null  object
 2   ply_tag_lst   46758 non-null  object
 3   ply_like_cnt  46758 non-null  int64
 4   ply_updt      46758 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.8+ MB

In [88]:
ply_title_embedding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46758 entries, 0 to 46757
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ply_id         46758 non-null  int64
 1   ply_title_emd  46758 non-null  object
dtypes: int64(1), object(1)
memory usage: 730.7+ KB

In [89]:
last_song_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88178 entries, 0 to 88177
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   song_id          88178 non-null  int64
 1   song_name        88178 non-null  object
 2   artist_name_lst  88178 non-null  object
 3   song_gnr_lst     88178 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.4+ MB

In [91]:
song_in_ply['song_id'].nunique()

88178