# Insert Data

In [1]:
import pandas as pd
import numpy as np

### 데이터 불러오기

In [2]:
ply_meta = pd.read_json('./db_data/ply_meta.json')
ply_title_embedding = pd.read_json('./db_data/ply_title_embedding.json')
song_meta = pd.read_json('./db_data/last_song_meta.json')
song_in_ply = pd.read_json('./db_data/song_in_ply.json')

In [3]:
ply_meta.head()

   ply_id         ply_title ply_tag_lst  ply_like_cnt                 ply_updt
0  117162           12월의 재즈   크리스마스, 겨울           353  2016-12-26 12:33:33.000
1  151638  12월의 크리스마스를 yeah         발라드            29  2009-12-22 09:11:45.000
2   27984     1월의 최신 EDM 소식          일렉            84  2015-01-29 16:22:19.000
3   48636    2000년대 힙합을 부탁해       힙합, 랩            54  2015-06-09 17:25:51.000
4   30079   2008 그랜드민트 페스티벌           락            12  2008-12-23 19:56:46.000

In [4]:
ply_title_embedding.head()

   ply_id                                      ply_title_emd
0  117162  [-0.6645728946, -0.7428655624, 0.9763435721, -...
1  151638  [-0.0026101221, 0.1385624856, 1.9987051487, 0....
2   27984  [-0.4456211329, 0.0304336753, 1.2807025909, -0...
3   30079  [-0.1292974651, 0.07028008250000001, 1.0626025...
4   52572  [-0.21672616900000002, -0.0234135706, 1.083109...

In [5]:
# str형으로 변환
ply_title_embedding['ply_title_emd'] = ply_title_embedding['ply_title_emd'].apply(lambda x: ', '.join(map(str, x)))
ply_title_embedding

       ply_id                                      ply_title_emd
0      117162  -0.6645728946, -0.7428655624, 0.9763435721, -0...
1      151638  -0.0026101221, 0.1385624856, 1.9987051487, 0.0...
2       27984  -0.4456211329, 0.0304336753, 1.2807025909, -0....
3       30079  -0.1292974651, 0.07028008250000001, 1.06260252...
4       52572  -0.21672616900000002, -0.0234135706, 1.0831099...
...       ...                                                ...
46753   88698  -0.050239194200000004, -0.0712246746, 0.808858...
46754  122025  -0.0644121245, 0.064207226, 0.8305331469, 0.22...
46755   91568  -0.10331144930000001, 0.0344741605, 0.83371996...
46756  107233  0.1092057899, -0.07139723, 1.161508441, -0.000...
46757  152310  0.0458607189, -0.0131440535, 1.646902561200000...

[46758 rows x 2 columns]

In [6]:
song_meta.head()

,song_id,song_name,artist_name_lst,song_gnr_lst
0,3,Feeling Right (Everything Is Nice) (Feat. Popc...,[Matoma],[일렉트로니카]
1,10,Hi (Heyoo),[Miraa.],[랩/힙합]
2,17,Girl Crush,[마마무 (Mamamoo)],"[아이돌, 댄스]"
3,19,무얼 기다리나 (Feat. 조원선),[이영훈],"[인디음악, 포크/블루스]"
4,28,Paris Sera Toujours Paris,[Zaz],[POP]

In [7]:
# str형으로 변환
song_meta['artist_name_lst'] = song_meta['artist_name_lst'].apply(lambda x: ', '.join(x))
song_meta['song_gnr_lst'] = song_meta['song_gnr_lst'].apply(lambda x: ', '.join(x))
song_meta.head()

,song_id,song_name,artist_name_lst,song_gnr_lst
0,3,Feeling Right (Everything Is Nice) (Feat. Popc...,Matoma,일렉트로니카
1,10,Hi (Heyoo),Miraa.,랩/힙합
2,17,Girl Crush,마마무 (Mamamoo),"아이돌, 댄스"
3,19,무얼 기다리나 (Feat. 조원선),이영훈,"인디음악, 포크/블루스"
4,28,Paris Sera Toujours Paris,Zaz,POP

In [8]:
song_in_ply.head()

   ply_id  song_id
0  117162   677632
1  117162   309377
2  117162   473793
3  117162   179652
4  117162   407630

### MySQL 연동

In [9]:
from sqlalchemy import create_engine
import pymysql

In [11]:
engine = create_engine("mysql+pymysql://root:"+"root1234"+"@localhost:3306/finaldb?charset=utf8")
conn = engine.connect()

In [12]:
# ply_meta 테이블에 데이터프레임 저장
ply_meta.to_sql(name='ply_meta', con=engine, if_exists='append', index=False)

46758

In [13]:
ply_title_embedding.to_sql(name='ply_title_embedding', con=engine, if_exists='append', index=False)

46758

In [14]:
# song_meta 테이블에 데이터프레임 저장
song_meta.to_sql(name='song_meta', con=engine, if_exists='append', index=False)

88178

In [15]:
# song_in_ply 테이블에 데이터프레임 저장
song_in_ply.to_sql(name='song_in_ply', con=engine, if_exists='append', index=False)

1401859

In [16]:
conn.close()